* {
    box-sizing:border-box;
    background-color: #ff8dd4;
    display:flex;
    justify-content:center
}


html, body {
    margin: 0; 
    height: 100%;
    overflow: hidden;
}
title{
    display:none;
}

.container{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;

}

#header{
    margin-top: -20%;
    font-size:4.5em;
    color: white;
    font-family: 'Londrina Solid', cursive;

}

#options{
    display: grid;
    grid-template-areas: "banana grapes cherry watermelon orange apple";
    grid-gap:15px;
    margin-bottom: 5%;
    padding-top: 1%;
}

.btn {
    position:relative;
    color: #333;
    background-color: #8573ff;
    box-shadow: 0px 10px #8249ab;
    border: 4px solid #dbd6ff;
}

img {
    background-color: inherit;
    width: 70px;
    height: 70px;
    border-radius:20px;
   
}

.sq, .btn {
    border-radius:20px;
    width: 90px;
    height: 90px;
}

.btn:hover{
    top:10px;
}


#table {
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-gap:15px;
    padding-bottom: 1.5%;
}

#banana{
    background-color: #7300b7;
}

#grapes{
    background-color:#4eb907;
}

#cherry{
    background-color:#aac600;
}

#watermelon{
    background-color: #d7bb00;
}
#orange{
    background-color: #0183e1;

}
#apple {
    background-color: #00b6ce;
}

#rst{

    font-family: 'Londrina Solid', cursive;
    color:#0079d0;
    background-color: #ffe119;
    margin-right: 10%;
    width: 30%;
    height: 100%;
    font-size: 2.5em;
}

#rst:hover {
    top:3px;
}

#footer{
    
    margin-top:3%;
    line-height: 0.2;
    font-size:18px;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: -20%;

}

.links {
    margin-right: 3%;
    margin-top:1%;
    width: auto;
    height: auto;
    font-size: 0.8em;

}

.links:hover{
    top:3px;
}

a{
    font-size:1em;
    background-color: transparent;
    color: white;
}
a:link{
    text-decoration:none;
    color:white;
}
/* Tablets */
@media only screen and (max-device-width:1024px){
    #header{
        display:inline-block;
        font-size: 2.5em;
        margin-top: -15vh;
    }

    img {   
        width: 10vh;
        height: 10vh;
    }
    
    .sq, .btn {
        border-radius:20px;
        width: 11vh;
        height: 11vh;
    }

    #options{
        grid-template-areas:
        "banana grapes cherry"
        "watermelon orange apple";
    }
    
    #footer{
        margin-bottom: -30%;
        height: 7vh;
    }
    #rst{
        margin-right: 5%;
        font-size:3.5em;
        width: 45%;
    }

    .links {
        margin-right: 2%;
        height: auto;
        width: 25%;
        font-size:1em;
    }        
}

/* Mobile phones */
@media only screen and (max-device-width:480px){
    #header{
        display:inline-block;
        font-size: 2.5em;
        margin-top: -15vh   ;
    }

    img {   
        width: 6vh;
        height: 6vh;
    }
    
    .sq, .btn {
        border-radius:20px;
        width: 8vh;
        height: 8vh;
    }

    #footer{
        margin-bottom: -30%;
        height: 7vh;
    }
    #rst{
        margin-right: 5%;
        font-size:2em;
        width: 40%;
    }

    .links {
        margin-right: 2%;
        width: 24%;
        height: 100%; 
        font-size:0.65em;
    }        
}




